@page "/photos"
<NavMenu Title="@Title" />

<section>
    @*TO-DO: ADD UPLOAD MENU FOR NEW PHOTOS*@

    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var photo in PhotoList)
        {
            <div class="card" style="width: 18rem;">
                <img src="@photo.ImagePath" class="card-img-top" alt="@photo.Title" @onclick="(() => ExpandImage(photo.ImagePath))">
                <div class="card-body">
                    <h5 class="card-title">@photo.Title</h5>
                    <p class="card-text">@photo.Description</p>
                </div>
            </div>
        }
    </div>
    <div style="margin-top:20px; padding-bottom: 30px;" class="d-flex justify-content-center">
        <a href="https://twitter.com/MCVTS_ACE" style="margin-left:5%;margin-right:5%;width:100px;height:100px" class="btn mb-4">
            <span class="fa fa-solid fa-twitter fa-2x social-icon" aria-hidden="true"></span>
        </a>
        <a href="https://www.instagram.com/edisonacademymagnetschool/" style="margin-left:5%;margin-right:5%;width:100px;height:100px" class="btn mb-4">
            <span class="fa fa-solid fa-instagram fa-2x social-icon" aria-hidden="true"></span>
        </a>
        <a href="https://www.facebook.com/groups/1380582742219575" style="margin-left:5%;margin-right:5%;width:100px;height:100px" class="btn mb-4">
            <span class="fa fa-solid fa-facebook fa-2x social-icon" aria-hidden="true"></span>
        </a>
    </div>

    @if (IsImageExpanded)
    {
        <div class="expanded-image-container">
            <img src="@ExpandedImagePath" class="expanded-image" alt="Expanded Image" @onclick="CollapseImage" />
        </div>
    }
</section>

@code {
    private string Title = "Photos";
    private string ExpandedImagePath;
    private bool IsImageExpanded = false;

    private List<Photo> PhotoList = new List<Photo>
    {
        new Photo { ImagePath = "img/ambassadors.jpg", Title = "RWJ Safety Ambassadors", Description = "Our Safety Ambassadors taught the students helmet safety, safety in & around cars, roads/traffic and safety on stairs." },
        new Photo { ImagePath = "img/dance.jpg", Title = "Winter Ball", Description = "Edison Academy Magnet School's Senior Class held their Winter Formal! Everyone dressed to impress and had a blast dancing the night away!" },
        new Photo { ImagePath = "img/scioly.jpg", Title = "Science Olympiad", Description = "Science Olympiad team competed in the Union College Regional Tournament. Fifteen team members participated in 12 different events against teams from across Central Jersey. The team ranked 7th overall, qualifying for the state competition." },
        new Photo { ImagePath = "img/un.jpg", Title = "Model UN", Description = "Students participated in the second annual MCA Model United Nations Conference held in Middlesex College's Crabiel Hall. During the conference, students participated in 3 exciting committees on topics ranging from the social and civil unrest in the Central African Republic to the Titan takeover of Olympus." },
        new Photo { ImagePath = "img/njit.jpg", Title = "NJIT Tour", Description = "Some quick example text to build on the card title and make up the bulk of the card's content." }
    };

    private void ExpandImage(string imagePath)
    {
        ExpandedImagePath = imagePath;
        IsImageExpanded = true;
    }

    private void CollapseImage()
    {
        IsImageExpanded = false;
    }

    public class Photo
    {
        public string ImagePath { get; set; }
        public string Title { get; set; }
        public string Description { get; set; }
    }
}
