@page "/profile"
<NavMenu Title="@Title" />
<section/>
<section>
    <div class="profile-container">
        <img class="profile-image" src=@ProfileImage />
    </div>
    <div class="profile-details">
        <h4>
            <b>Name:</b> @App.EdUnityRepo.GetCurrentUser().FIRST_NAME @App.EdUnityRepo.GetCurrentUser().LAST_NAME
        </h4>
    </div>
    <div class="profile-details">
        <h4>
            <b>Type:</b> @App.EdUnityRepo.GetCurrentUser().ROLE.ToString()
        </h4>
    </div>
    <div class="profile-details">
        <h4>
            <b>Institution:</b> @App.EdUnityRepo.GetCurrentInstitution().NAME
        </h4>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <a href="/about" class="btn mb-4">
                <span class="fa fa-solid fa-circle-info" aria-hidden="true"></span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/settings" class="btn mb-4">
                <span class="fa fa-solid fa-gear" aria-hidden="true"></span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/bugreport" class="btn mb-4">
                <span class="fa fa-solid fa-bug" aria-hidden="true"></span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/terms-conditions/profile" class="btn mb-4">
                <span class="fa fa-solid fa-file" aria-hidden="true"></span>
            </a>
        </div>
    </div>
     <br />
 </section>
<section/>
@code
{
    private string Title = "Profile";
    private string ProfileImage = "img/users/" + App.EdUnityRepo.GetCurrentUser().ID + ".jpg";
}